@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
table {
  font-family: arial, sans-serif;
  width: 100%;
  border: wheat 3px solid;
  letter-spacing: 0.1rem;
  font-size: 2rem; }

.mainContent__tableHead {
  text-decoration: underline;
  color: #047a5d; }

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 30px 8px 30px; }

.mainContent__boldTable li {
  font-weight: 400; }

ul {
  padding: 20px;
  font-size: 1.7rem; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

.mainContent__promo {
  text-align: left;
  list-style-type: none;
  font-size: 2rem; }

.main__cardPromo {
  display: flex;
  width: 100%;
  justify-content: space-around; }
  .main__cardPromo .card-body {
    background: linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%); }
  .main__cardPromo .card {
    margin: 1%;
    border-radius: 5%;
    height: 25vh; }

.main__cardLink {
  text-align: center; }
  .main__cardLink a {
    font-size: 2rem;
    background-color: #1abc9c; }
    .main__cardLink a:hover {
      background-color: #1abc9c;
      transform: scale(1.2); }

.mainSection__promo {
  /* background: $backGradient; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-bottom: 0; }

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem; }

.main__promoDesc {
  padding: 1% 0 1% 0; }

.main__promoDesc--high {
  color: red;
  font-size: 2rem;
  text-align: center; }

.main__promoDesc--med {
  color: blue;
  font-size: 2rem;
  text-align: center; }

.main__promoDesc--low {
  color: #008cff;
  font-size: 2rem;
  text-align: center; }

@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 12px; }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  .main__cardPromo {
    flex-direction: column; }
    .main__cardPromo .card {
      height: 40vh; }
  tr {
    border: 1px solid #dddddd; }
  td {
    border: 1px solid #dddddd;
    padding: 8px 30px 8px 30px;
    position: relative;
    padding-left: 50%; }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }
  td:nth-of-type(1):before {
    content: "Nombre del Tratamiento"; }
  td:nth-of-type(2):before {
    content: "Dias Disponibles"; }
  td:nth-of-type(3):before {
    content: "Precio"; }
  td:nth-of-type(4):before {
    content: "Tipos de tratamiento"; }
  td:nth-of-type(5):before {
    content: "Beneficios"; } }

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center; }
  .month ul {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .month li,
  .month p {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px; }

.main__calendar {
  margin: auto 4%; }

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd; }

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center; }

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0; }

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  cursor: no-drop;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777; }

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important; }
  .days li .active:hover {
    cursor: pointer; }

.days li .inactive {
  padding: 5px;
  background: red;
  color: white !important; }
  .days li .inactive:hover {
    cursor: not-allowed; }

.main__titleCalendar {
  text-align: center; }

@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%; } }

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%; }
  .days li .active {
    padding: 2px; } }

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%; } }

.navbar-brand img {
  border-radius: 35px; }

.navbar-collapse {
  justify-content: flex-end; }
  .navbar-collapse li:hover {
    transform: scale(1.2);
    transition: all 1s; }
  .navbar-collapse li a:hover {
    color: #047a5d; }

.header__navMenu a:hover {
  color: #047a5d; }

nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%);
  background-repeat: no-repeat; }

nav ul li {
  margin: 20px;
  list-style: none; }

.somosText {
  text-align: center;
  width: 50%;
  margin: 10vh 0 34vh 25vw; }
  .somosText p {
    font-family: "WindSong", cursive; }

h3 {
  text-align: center; }

.main__mainPost {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10rem; }
  .main__mainPost p {
    font-weight: 100px; }
  .main__mainPost div {
    margin: 4%;
    padding: 6%;
    box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75); }

.main__moreArt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1% 0 1% 0; }
  .main__moreArt .card {
    width: 60%;
    background-color: #daebee;
    border-radius: 4rem;
    padding: 1% 0 1% 0;
    margin: 1% 0 1% 0; }
    .main__moreArt .card:hover {
      transform: scale(1.1);
      transition: all 0.5s; }
  .main__moreArt .card-link {
    font-size: 2rem; }

.main__listArt {
  padding: 1% 0 1% 0; }

.card-link--visited {
  color: #f56a2a; }

.card-link--disabled {
  color: gray; }

@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .main__mainPost {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 4%; }
    .main__mainPost div {
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
    .main__mainPost s p {
      font-size: 1.5rem; } }

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 70px 15px; }

.error-container > span {
  display: inline-block;
  position: relative; }

.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%), linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%), linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%); }

.error-container > span.four:before,
.error-container > span.four:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px; }

.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%), linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%), linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%); }

.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%); }

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%), linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%);
  overflow: hidden;
  animation: bgshadow 5s infinite; }

.error-container > span.zero:before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%), linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%); }

.error-container > span.zero:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #fdfaf5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1); }

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4); }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4); } }

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fdfaf5;
  margin-bottom: 50px; }

html,
button,
input,
select,
textarea {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #bbb; }

h1 {
  text-align: center;
  margin: 30px 15px; }

.zoom-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center; }

.link-container {
  text-align: center; }

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #d3f3f8;
  padding: 10px 15px;
  border-radius: 0;
  color: gray;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px; }

.main__form {
  width: 40%;
  margin: auto;
  border: 1px solid #ffffff;
  /* background-color: $mainBackColor; */
  background-color: rgba(4, 124, 124, 0.883);
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 10px 9px 8px 9px rgba(12, 6, 6, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 10px 9px 8px 9px rgba(12, 6, 6, 0);
  font-size: 1.8rem;
  border-radius: 40px;
  padding: 30px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  height: 70vh;
  margin-bottom: 1%; }
  .main__form label {
    color: white; }
  .main__form input {
    color: black; }
  .main__form p {
    color: white;
    text-align: left; }

.form-floating label {
  color: black; }

textarea {
  resize: none;
  font-size: 1.8rem !important;
  height: 100px !important; }
  textarea label {
    color: black; }

.main__formSelector,
.main_formPreguntas {
  margin: 6% 0 6% 0; }

.main__formSelector {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.main__contentn_contacto {
  background-color: white; }

.main_formData {
  display: flex;
  justify-content: space-around; }

.main_formPreguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.main__formButton {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: space-around; }
  .main__formButton button {
    font-size: 2.4rem;
    border-radius: 2rem;
    width: 40%;
    padding: 2%; }

@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .main__form {
    width: 100%;
    height: 85vh; }
    .main__form .main__formSelector {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 1.4rem; }
    .main__form textarea {
      height: 60px !important; }
    .main__form button {
      width: 20%; }
    .main__form p {
      text-align: center; }
  .main_formData {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .main__formButton button {
    font-size: 1.4rem;
    border-radius: 1rem;
    width: 40%;
    padding: 2%; } }

.main__tratamientos .card-body {
  height: 130px; }

.main__tratamientos .card-group {
  justify-content: center;
  align-items: center; }

.main__tratamientos h5 {
  text-decoration: underline; }

.main__tratamientos .card {
  margin: 3%;
  overflow: hidden; }
  .main__tratamientos .card img {
    max-height: 250px; }
  .main__tratamientos .card:hover {
    transform: scale(1.1);
    transition: all 1s ease; }

h1,
h2 {
  margin: 0;
  padding-top: 2%;
  color: #047a5d;
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-size: 8rem; }

body {
  margin-bottom: 0px; }

.footer {
  height: 100%;
  background: linear-gradient(90deg, #b6fbeb 0%, #dcfdf6 40%, #9af3de 100%);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center; }

section {
  margin: 15vh 0 10vh 0; }

.post h3 {
  font-size: 3rem; }
