@import "vars.scss";
.main__form {
  width: 45%;
  margin: auto;
  border: 1px solid #ffffff;
  background-color: $mainBackColor;
  font-size: 1.8rem;
  border-radius: 40px;
  input {
    color: black;
  }
  p {
    text-align: left;
  }
  padding: 30px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  height: 60vh;
}
.main__formArea {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 40px;
  p {
    font-size: 1.6rem;
    text-align: left;
  }
}
.main__formSelector,
.main_formPreguntas {
  margin: 6% 0 6% 0;
}
.main__formSelector {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main__contentn_contacto {
  background-color: white;
}
.main__formArea {
}
.main_formData {
  display: flex;
  justify-content: space-around;
}
.main_formPreguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__formButton {
  margin: 10% 0 0 0;
  display: flex;
  justify-content: space-around;
  button {
    font-size: 2.4rem;
  }
}
