@import "vars.scss";
.main__form {
  width: 40%;
  margin: auto;
  border: 1px solid #ffffff;
  /* background-color: $mainBackColor; */
  background-color: rgba(4, 124, 124, 0.883);
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 10px 9px 8px 9px rgba(12, 6, 6, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 10px 9px 8px 9px rgba(12, 6, 6, 0);
  font-size: 1.8rem;
  border-radius: 40px;
  label {
    color: white;
  }

  input {
    color: black;
  }
  p {
    color: white;
    text-align: left;
  }
  padding: 30px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  height: 70vh;
  margin-bottom: 1%;
}
.form-floating {
  label {
    color: black;
  }
}
textarea {
  resize: none;
  font-size: 1.8rem !important;
  height: 100px !important;

  label {
    color: black;
  }
}
.main__formSelector,
.main_formPreguntas {
  margin: 6% 0 6% 0;
}
.main__formSelector {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main__contentn_contacto {
  background-color: white;
}

.main_formData {
  display: flex;
  justify-content: space-around;
}
.main_formPreguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__formButton {
  margin: 5% 0 0 0;
  display: flex;

  justify-content: space-around;
  button {
    font-size: 2.4rem;
    border-radius: 2rem;
    width: 40%;
    padding: 2%;
  }
}
@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .main__form {
    width: 100%;
    height: 85vh;
    .main__formSelector {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 1.4rem;
    }

    textarea {
      height: 60px !important;
    }
    button {
      width: 20%;
    }
    p {
      text-align: center;
    }
  }
  .main_formData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main__formButton {
    button {
      font-size: 1.4rem;
      border-radius: 1rem;
      width: 40%;
      padding: 2%;
    }
  }
}
