@import "vars.scss";
.main__form {
  width: 40%;
  margin: auto;
  border: 1px solid #ffffff;
  /* background-color: $mainBackColor; */
  background-color: rgba(4, 124, 124, 0.883);
  font-size: 1.8rem;
  border-radius: 40px;
  label {
    color: white;
  }
  input {
    color: black;
  }
  p {
    color: white;
    text-align: left;
  }
  padding: 30px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  height: 70vh;
  margin-bottom: 1%;
}
textarea {
  resize: none;
  font-size: 1.8rem !important;
}
.main__formSelector,
.main_formPreguntas {
  margin: 6% 0 6% 0;
}
.main__formSelector {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main__contentn_contacto {
  background-color: white;
}
.main__formArea {
}
.main_formData {
  display: flex;
  justify-content: space-around;
}
.main_formPreguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__formButton {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: space-around;
  button {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .main__form {
    width: 100%;
    p {
      text-align: center;
    }
  }
  .main_formData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
