@import "vars.scss";
.header__navMenu > {
  li {
    &:hover {
      transform: scale(1.2);
      transition: all 1s;
    }
  }
}
.navbar-brand {
  img {
    border-radius: 35px;
  }
}
.navbar-collapse {
  justify-content: flex-end;
}
.header__navMenu {
  a {
    &:hover {
      color: $mainColor;
    }
  }
}
.header__navMenu {
  display: flex;
  justify-content: end;
}
.header__navMenu {
  li {
    position: relative;
  }
}
.header__navMenu {
  li {
    &:hover {
      ul {
        display: block;
      }
    }
  }
}
.header__navsubMenu {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(211, 243, 248);
  z-index: 1;
}
.header__navsubMenu {
  li {
    display: block;
    margin: 0;
    padding: 20px;
  }
}
nav {
  display: flex;
  justify-content: center;
  background: $backGradient;
  background-repeat: no-repeat;
}
nav {
  ul {
    li {
      margin: 20px;
      list-style: none;
    }
  }
}
