@import "vars.scss";

.navbar-brand {
  img {
    border-radius: 35px;
  }
}
.navbar-collapse {
  justify-content: flex-end;
  li {
    &:hover {
      transform: scale(1.2);
      transition: all 1s;
    }
    a {
      &:hover {
        color: $mainColor;
      }
    }
  }
}
.header__navMenu {
  a {
    &:hover {
      color: $mainColor;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  background: $backGradient;
  background-repeat: no-repeat;
}
nav {
  ul {
    li {
      margin: 20px;
      list-style: none;
    }
  }
}
