@import "vars.scss";

table {
  font-family: arial, sans-serif;
  width: 100%;
  border: wheat 3px solid;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.mainContent__tableHead {
  text-decoration: underline;
  color: rgb(4, 122, 93);
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 30px 8px 30px;
}
.mainContent__boldTable {
  li {
    font-weight: 400;
  }
}
ul {
  padding: 20px;
  font-size: 1.7rem;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

.mainContent__promo {
  text-align: left;
  list-style-type: none;
  font-size: 2rem;
}

.main__cardPromo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  .card-body {
    background: $backGradient;
  }

  .card {
    margin: 1%;
    border-radius: 5%;
    height: 25vh;
  }
}
.main__cardLink {
  text-align: center;
  a {
    font-size: 2rem;
    background-color: #1abc9c;
    &:hover {
      background-color: #1abc9c;
      transform: scale(1.2);
    }
  }
}
.mainSection__promo {
  /* background: $backGradient; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-bottom: 0;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}
$promos: (
  high: red,
  med: blue,
  low: rgb(0, 140, 255),
);

.main__promoDesc {
  padding: 1% 0 1% 0;
}

@each $level, $color in $promos {
  .main__promoDesc--#{$level} {
    color: $color;
    font-size: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 12px;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .main__cardPromo {
    flex-direction: column;

    .card {
      height: 40vh;
    }
  }
  tr {
    border: 1px solid #dddddd;
  }
  td {
    border: 1px solid #dddddd;
    padding: 8px 30px 8px 30px;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Nombre del Tratamiento";
  }
  td:nth-of-type(2):before {
    content: "Dias Disponibles";
  }
  td:nth-of-type(3):before {
    content: "Precio";
  }
  td:nth-of-type(4):before {
    content: "Tipos de tratamiento";
  }
  td:nth-of-type(5):before {
    content: "Beneficios";
  }
}
.month {
  padding: 30px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  li,
  p {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
.main__calendar {
  margin: auto 4%;
  margin-bottom: 4%;
}
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  cursor: no-drop;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
  &:hover {
    cursor: pointer;
  }
}
.days li .inactive {
  padding: 5px;
  background: red;
  color: white !important;
  &:hover {
    cursor: not-allowed;
  }
}

.main__titleCalendar {
  text-align: center;
}

// Add media queries for smaller screens //
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}
