@import "service.scss";
@import "header.scss";
@import "somos.scss";
@import "blog.scss";
@import "404.scss";
@import "contacto.scss";
@import "tratamiento.scss";
h1,
h2 {
  margin: 0;
  padding-top: 2%;
  color: rgb(4, 122, 93);
  text-align: center;
  font-family: "MonteCarlo", cursive;
  font-size: 8rem;
}
body {
  margin-bottom: 0px;
}
.footer {
  height: 100%;
  background: $backGradient;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

section {
  margin: 15vh 0 10vh 0;
}
.post {
  h3 {
    font-size: 3rem;
  }
}
.mainPage {
  .container {
    img {
      width: 100%;
      margin: 2%;
    }
  }
}
